/*
 * HACK: for some reason the svelte preprocess won't allow
 * any other definitions inside a reference(theme) import
 * for svelte.
 * */ 
@theme {
  --font-*: initial;
  --font-pokemon-gb: Pokemon GB;
  --font-press-start: Press Start 2P;
  --font-nf-symbols: Symbols Nerd Font;
  --font-firacode: FiraCode Nerd Font;

  --color-transparent: transparent;

  --color-contrast: #181010;
  --color-primary: #48a058;
  --color-secondary: #f0b088;
  --color-danger: #b3181c;
}
