---
import Layout from '@layouts/Layout.astro';

import CharacterSheet from '@components/ui/form.svelte'
---

<Layout title="Pokemon in the 80s bby">
  <div class="container mx-auto max-w-lg">
    <div class="PlayerInfo">
      <CharacterSheet client:only="svelte" />
    </div>

  </div>
</Layout>
